<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>masayuki blog</h1>
		<p>Welcome to my blog</p>
		<p>毎日更新中！</p>
		<p>SNSもチェックしてね！, Twitterはこちら<a href="http://twitter.com/">Twitter</a> Facebookはこちら! <a href="http://facebook.com">Facebook</a>, Instagramはこちら！<a href="http://instagram.com/">Instagram</a>.</p>
	</div>
</div>